// Button.scss

.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: orange;
  }
}
