// ProductCard.scss

.product-card img{
    display: grid;
    gap: 15px;
    margin-top: 15px;
    height: 100px;
    width: 180px;
}

.remove-icon {
    text-align: end;
    cursor: pointer;
    color: red;
    margin-left: 100%;
}

.table-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 680px;
    height: 60px;
    
    img {
    height: 55px;
    width: 60px;
    margin: auto;
    }


}

.cart .table-view {
    svg{
        display: none;
    }
}