// Modal.scss

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.301);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: rgb(255, 60, 0);
  // padding: 20px;
  border-radius: 5px;
  width: 500px;
  
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color: #fff;
  background-color: rgba(255, 0, 0, 0.685);
  border-radius: 5px;
}

.close-button {
  cursor: pointer;
}

.modal-main {
  padding: 10px;
  text-align: center;
  font-size: small;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color: white;
}

.modal-actions {
  display: flex;
  justify-content: center;
}