// Header.scss

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;

  h1 {
    margin: 0;
  }

  .header-icons {
    display: flex;
    gap: 20px;

    button {
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 16px;

      svg {
        margin-right: 5px;
      }
    }

    a {
      text-decoration: none;
      color: white;
    }
  }
}

#header-productview {
  cursor: pointer;
}
  