// CartForm.scss

form {
    width: 200px;
    margin-left: 10px;
    padding-left: 5px;
    background-color: rgba(128, 128, 128, 0.432);

    input{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border-radius: 5px;
    }

    button {
        margin: 10px 50px ;
        color: azure;
        background-color: green;
        border-radius: 5px;
    }
}

.error {
 
    color: red;
}

.alert {

    width: 200px;
    margin-left: 10px;
}